
<div class="row">
    {{#with main}}
    <main>
        
        <section class="card">
            <div>
               {{> title data="Work history" big=true}}
            </div>
            <div>
                {{#each works}} 
                    <ul>
                        <li> 
                            <div style="color:blueviolet;">{{position}}</div>
                            
                            <br>

                            <div>
                                {{duration.from}} 
                                - 
                                {{#if duration.to}} 
                                    {{duration.to}} 
                                {{else}} 
                                    (till now) 
                                {{/if}}
                            </div>

                            <br>

                            <div>{{> link text=company.name href=company.url blank=true noLine=true}}</div>

                            <br>
                            <br>

                            <div>
                                <strong><a href="" class="btn btn-primary"> Projects ({{projectAmount}})</a></strong>
                            </div>

                            <br>
                            <ul>
                                {{#each projects}} 
                                     <li>
                                        <div>{{> link text=name href=url blank=true noLine=true}}</div>
                                        
                                        <br>

                                        <div>
                                            <p>{{about}}</p>
                                        </div>

                                        <br>

                                        <div>
                                            <em>Project stacks ({{stackAmount}})</em>
                                        </div>

                                        <br>

                                        <div>
                                            {{#each stacks}}
                                            <ul>
                                                <li>{{name}}</li>
                                            </ul>
                                            {{/each}}
                                        </div>
                                         <br>

                                         <div>
                                            <em>Project awards ({{awardAmount}})</em>
                                         </div>

                                         <br>
                                         <div>
                                            {{#each awards}}
                                            <ul>
                                                <li>{{name}}</li>
                                            </ul>
                                            {{/each}}
                                         </div>
                                     </li>
                                {{/each}}
                            </ul>
                        </li>
                        <br>
                    </ul>
                  {{/each}}
                </p>
            </div>
        </section>
    </main>
    {{/with}}
</div>
